<h1><u>Welcome to Gallery Space</u></h1>



<h3 class="emphasis"><em>A virtual space for art collectors and enthusiasts </em></h>

<h3> <%= link_to 'Log In', '/login' %> OR <%= link_to 'Sign Up', '/signup' %> to get started! </h3>