<h1>Edit Comment</h1>

<%= form_for(@comment, @work) do |f| %>
    <%= render partial: 'form', locals: {f: f} %>
  <% end %>

  <div>
  <%= button_to "Edit Comment", edit_work_comment_path(c.id) %>
<%= button_to "Delete Comment", work_comment_path(@work, @comment), method: :delete, data: { confirm: "Are you sure?"} %>


</div>