<h1>Comments Show Page</h1>


<h2><%= @comment.work %> </h2>
<h3>Headline: <%= @comment.headline %></h3>
<h4>Description: <%= @comment.description %></h4>

<%= link_to "delete", comment_path(@comment), method: 'delete' %>