<h1>Welcome <%=@user.email%> to your GallerySpace Home Page!</h1>
<h3>The GallerySpace is a virtual gallery to learn and comment on pieces of art around the world! </h3>
<h4>To get started, head to <%= link_to "All Works", works_path %> to explore a list of works to view and comment on!</h4>
<div>The library of art is always updating, so be sure to check out the newest additions to GallerySpace!</div></h4>