<!DOCTYPE HTML>
<html> 
  <head>
  
    <meta charset="utf-8" />

    <title>The GallerySpace</title>

  </head>
  <body>
    <div class="nav">
      <a href="/works">All Works</a> |
      <a href="/works/new">Add a New Piece of Art</a> |
      <a href="/signup"> Sign Up</a> |
      <a href="/login">Log In</a> |
      <a href="/logout">Log Out</a>
    </div>
    <br>
    <h1 class="welcome"><u> Welcome to GallerySpace!</u></h1>
    <h2 class="emphasis"><em>The virtual home for art collectors and enthusiasts </em></h2>
    <%= yield %>
  </body>
</html>
